.App {
  text-align: center;
  background-color: black;
  height: 100%;
  color: white;
   font-family: 'Montserrat', Arial, sans-serif;
   color: red;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero iframe {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
  border: none;
}


.genre {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(10, 10, 10);
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 50px;
}

.genre-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 51, 54);
  width: 200px;
  height: 150px;
  color: white;
  padding: 50px;
  
}

.music-container {
 position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  padding: 100px;
  overflow-y: auto;
  scrollbar-width: none;
  color: white;
  gap: 20px;
  text-wrap: none;
}

.header-wrap {
  position: absolute;
  top: -10px;
  left: 40px;
}

.music {
  color: white;
}

.music img{
  height: 300px;
  width: 250px;
}

.music h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: nowrap;
}

.link-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  
}
