.App {
  text-align: center;
  background-color: black;
  height: 100%;
  color: white;
   font-family: 'Montserrat', Arial, sans-serif;
}


.genre {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(10, 10, 10);
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 50px;
}

.genre-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 51, 54);
 width: 200px;
  height: 150px;
  padding: 50px;
  
}

